.container {
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  }

.container:hover {
  background-color: rgb(255, 0, 0, .5);
}

.jump {
 color:blue;
 border-radius: 10px;
 border-color: aliceblue;
}

h2 {
  transition: color(green);
  transition-duration: 1s;

}