.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  }

span {
 color:blue;
 border-radius: 10px;
 border-color: aliceblue;
}