html, body { height: 100% }

body {
  display: flex;
  align-items: center;
  background-image: url(https://unsplash.com/photos/SBdmQcW8qag);
}

.particles {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -1;
}