.App {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    border: gold;
    border-width: 10px;
}



  .container {
      background-color: white;
      text-shadow: rgb(5, 5, 5);
      text-decoration-style: double;
      text-decoration-color: white;
  }